{% extends 'base.html.twig' %}
{% block registered %}

<a class="main-button p-3 mb-2 bg-primary text-white" href="/champion-list">Champions</a>
<a class="main-button p-3 mb-2 bg-primary text-white" href="/login">login</a>
<a class="main-button p-3 mb-2 bg-primary text-white" href="/" class="">Home</a>
<h1>GG {{ username }} you registered to Rolfie.gg</h1>

{% endblock %}
