.champion-card {
    width: 300px;
    display: inline-block;
}

.champion-image {
    width: 100px;
    padding-left: 10px;
}

.champion-stats {
    display: none;
    border: 1px black solid;
    background-color: black;
}

.champion-stats p {
    padding: 0;
    margin: 0;
}

.champion-title {
    font-size: 10px;
    font-style: italic;
}

#champ-infos:hover > .champion-stats {
    display: block;
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 10px;
}

.champion-tags {
    font-style: italic;
    font-size: 10px;
}

.champion-infos {
    position: absolute;
    top: 20px;
    right: 30px;
}

.champion-infos p {
    font-size: 15px;
    margin: 0;
}