.menu {
	width: 450px;
	margin: auto;
	border: 1px black solid;
	border-radius: 20px;
	text-align: center;
}

.main-button {
	border: 1px blue solid;
	margin: 5px;
	display: inline-block;
}

.inline {
	display: inline-block;
}

.champion-block {
	width: 910px;
	margin: auto;
}

label.required {
	margin: 10px;
}

.lol-logo {
	width: 200px;
	margin: auto;
}

.send-form {

}


