{% extends 'base.html.twig' %}
{% block exception %}

<a class="main-button p-3 mb-2 bg-primary text-white" href="/" class="">Home</a>
<a class="main-button p-3 mb-2 bg-primary text-white" href="/champion-list" class="">Champions</a>

<p> {{ exception }}</p>

{% endblock %}
